body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.content3 table tr th {
    text-transform: uppercase;
}

.imagescenter3 img {
    padding: 10px 32px;
}

.imagescenter2 img {
    padding: 30px 43px;
}

table tr td a {
    background: #00a2ed;
    padding: 9px 11px;
    border-radius: 6px;
    color: #fff;
}

tr {height: 50px;}


table {
    margin: 12px -14px;
    padding: 2px 0px;
}

.imagescenter3 table th {
    text-transform: capitalize;
}


.imagescenter img {
    margin:  auto;
}

.imagescenter1 tr {
    text-align:  center;
}

.textgiua {
    text-align: center;
    clear: both;
}

.textgiua p {
    text-transform: capitalize;
    font-weight: bold;
}

.textgiua h1 {
    text-transform: uppercase;
}

.imagescenter img {
    padding: 0px 102px;
}


.left{
    float: left;
}

.right{
    float: right;
}

header ul li {
    display: inline-block;
}

header a{
    text-decoration: none;
}

.hd2 li {
    padding: 15px 24px;
    margin: 0px 0px;
}

.hd2 li {
    padding: 13px 23px;
    float: right;
}

.headerstyle a {
    padding: 0 8px;
}

header {

    height: 385px;
    width: 960px;
    margin: auto;

}

.content {
    width: 960px;
    height: auto;
    margin: auto;
}

.header1{
    height: 85px;
}

/*.header2_text{
    position: absolute;
    right: 0;
    width: 480px;
    bottom: 0;
    color: #fff;
    margin: 0 20px 20px 0;
}

.header2 {
   background: url("../images/bgto.jpg");
    height:  290px;
}

.header2_text1 {
    font-weight:  bold;
    font-size: 23px;
    text-transform: uppercase;
    margin-bottom:  20px;
}

.header2_text2{
    height: 60px;
    line-height: 30px;
    text-align: justify;
    font-size: 18px;
}*/

.footer {
    background-color: #323232;
    color: #fff;
    overflow: hidden;
}


/*style bootstrap*/
.style_ct{
    text-align: center;
}

.style_ct h5{
    text-transform: capitalize;
    font-weight: bold;
    color: #838383;
}

.style_ct p {
    height: 95px;
}

.style_ct a {
    color: #fff;
    text-decoration: none;
    background: #00a2ed;
    padding: 10px 10px;
    border-radius: 8px;
}

footer {
    width: 960px;
    margin: auto;
}

.headerstyle ul li a {
    text-decoration: none;
    font-weight: bold;
}

.hd2 ul li a {
    text-decoration: none;
    
}

.headerstyle ul {
    display: inline-block;
}

.hoverstyle a:hover {
    padding: 8px;
    background: #00a2ed;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
}

.col-md-3 img {
    margin-left: 80px;
    margin-top: 10px;
}

p{
    margin: 0 0 25px;
      color: #888888;
}

h1{
    margin-bottom: 0xp;
     color: #838383;
}

.container{
    font-family: 'Roboto', sans-serif;
    
}
.thongtin h3 {
    text-transform: uppercase;
    font-size: 15px;
    padding: 10px 0;
    color: #ffffff;
}

.textgiua hr{
    width: 312px;
}


