body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.content3 table tr th {
    text-transform: uppercase;
}

.imagescenter3 img {
    padding: 10px 32px;
}

.imagescenter2 img {
    padding: 30px 43px;
}

table tr td a {
    background: #00a2ed;
    padding: 9px 11px;
    border-radius: 6px;
    color: #fff;
}

tr {height: 50px;}


table {
    margin: 12px -14px;
    padding: 2px 0px;
}

.imagescenter3 table th {
    text-transform: capitalize;
}


.imagescenter img {
    margin:  auto;
}

.imagescenter1 tr {
    text-align:  center;
}

.textgiua {
    text-align: center;
}

.textgiua p {
    text-transform: capitalize;
}

.textgiua h1 {
    text-transform: uppercase;
}

.imagescenter img {
    padding: 0px 102px;
}


.left{
    float: left;
}

.right{
    float: right;
}

header ul li {
    display: inline-block;
}

header a{
    text-decoration: none;
}

header {

    height: 385px;
    width: 960px;
    margin: auto;

}

.content {
    width: 960px;
    height: auto;
    margin: auto;
}

.header1{
    height: 85px;
}

.header2_text{
    position: absolute;
    right: 0;
    width: 480px;
    bottom: 0;
    color: #fff;
    margin: 0 20px 20px 0;
}

.header2 {
   background: url("../images/bgto.jpg");
    height:  290px;
}

.header2_text1 {
    font-weight:  bold;
    font-size: 23px;
    text-transform: uppercase;
    margin-bottom:  20px;
}

.header2_text2{
    height: 60px;
    line-height: 30px;
    text-align: justify;
    font-size: 18px;
}

.footer {
    background-color: #323232;
    color: #fff;
    overflow: hidden;
}


/*style bootstrap*/
.style_ct{
    text-align: center;
}

.style_ct h5{
    text-transform: capitalize;
    font-weight: bold;
}

