
 .buton button{background: #00a2ed;
		color: #ffffff;
		border-radius: 5px;
		width: 115px;
		height: 25px;
		font-size: 9.86pt;}
.hr hr{width: 415px;
margin-left: 360px;
}
.hr{margin-top: 5px;}
#picture{margin-bottom: 5px;
			
			
				width: auto;
				height: auto;}
#picture img{width: auto;
				height: 100%;}				
			
.mySlides {display:none;
			text-align: center}


#footer{background: #323232;
		text-align: center;}		
#about, #contact, #info{height: auto;}	
#about p, #contact p, #info p{
							 color: #ffffff; 
							 font-size:14.86pt;
							 text-align: left; 
							 word-wrap: break-word;}
.text{text-align: left;}							 
.text span, #info span{color: #ffffff;
			font-size: 10.86pt;}
	
label{text-align: left;
color: #fff;}		
.name2{display: inline-table;}	
.name1{display: inline-table;}
td span{color:red;}
@media only screen and (max-width: 600px) {
	#menutitle{display: none;}
	.textin{
		display: none;
		}

	.textip{text-align: center;
				font-size: 15px;}
	#anh{text-align: center;}
	#picture img{height: 100%;
					width: 100%;}
	#anh img{width: auto;
				height: 100%;}

	#footer{height: auto;
			width: 100%;
			text-align: center;
			word-wrap: break-word;	}
	#content{height: auto;
			overflow: hidden;}
	#menu{margin-left:0;
			}
	.a a{display: none;}
	#menu ul li{float: none;
				padding:  15px 10px 5px 10px;}
	#myCarousel{height: auto;}
	#myCarousel img{height: 150px;}
	#logo{text-align: center;}
	hr{width: 250px;}
	 #about, #info, #contact{height: auto;
		margin: 0 20px;}
	
	.mapgg{margin-right: 10px;}
	}

  

	