body{font-family: myriad Pro;
margin:20px auto;
background: #f6f6f6;
}
#all{}
#header{background: #ffffff;
height: 144px;}

#menutitle a{font-size: 9.86pt;}
#menutitle ul li{float: left;
					margin:12px;
					list-style: none;}
#menutitle ul li a{text-decoration: none;
					margin-left: 5px;
					color: #939393;}
#menu {margin-left: 440px;
		margin-top: -12px;}	 	
#menu ul li {float: left;
				list-style: none;
				padding:  5px 10px 5px 10px;
				border-radius: 5px;
				text-align: center;}	
#menu ul li a{
				text-decoration: none;
				font-family: myriad Pro;
				font-size: 8.88pt;
				color: #939393;
				font-weight: bold;}	
#menu ul li:first-child{background:#00a2ed; }

#menu ul li:hover{background: #00a2ed;}	
#menu ul li a:hover{color: #ffffff;}
#menu-icon{float:right;
			width: 10px;}
#menu-icon ul li{float: right;}			

.image img{position: relative;
			height: 299px;}						
#content{background: #ffffff;
		height: 1360px;}
.contain{margin-right: auto;
		margin-left: auto;
		width: 1170px;	}		
#banner{}		
#myCarousel img {width: 1170px;
					height: 400px;
			position: relative;}
		.textin {position: absolute;
		top: 415px;
		right:200px;
		
		}
		.textin span{font-size: 22.86pt;
			color: #ffffff;
			left: 10px;}
.textin p{color: #ffffff;}
.textip {text-align: center;
	color: #838383;
	margin-top: 10px;

}
.textip p{font-size: 29.3pt;
			height: 52px;}
.textip span{font-size: 10pt;
				}
#anh{
	height: 328px;
	text-align: center;}
#anh p{font-size: 14.86pt;
		font-weight: bold;
	color: #706972;}	
	#anh span{font-size: 11.86pt;
color: #7c767e;}
 .buton button{background: #00a2ed;
		color: #ffffff;
		border-radius: 5px;
		width: 115px;
		height: 25px;
		font-size: 9.86pt;}
hr{width: 356px;
background: red;}
.hr{margin-top: 5px;}
#picture{margin-bottom: 5px;
			margin-left: 515px;
				overflow: hidden;
				width: 150px;
				height: 150px;}
#picture img{width: 99px;
				height: 99px;}				
			
.mySlides {display:none;
			text-align: center}
.w3-content{max-width:50px;margin:auto}
		.w3-section{margin-top:16px;margin-bottom:16px;}

#footer{background: #323232;
		height: 400px;
		text-align: center;
	}
#about{}		

	
#about, #contact, #info{height: 400px;}	


#about p, #contact p, #info p{margin-bottom: 27px;
							 color: #ffffff; 
							 font-size:14.86pt;
							 text-align: left; }
.text{text-align: left;}							 
.text span, #info span{color: #ffffff;
			font-size: 10.86pt;}
	
label{text-align: left;
color: #fff;}		
.name2{display: inline-table;}	
.name1{display: inline-table;}
td span{color:red;}
@media only screen and (max-width: 600px) {
	#menutitle{display: none;}
	#myCarousel{display: none;}

  }
 @media only screen and (max-width: 900px) and (min-width: 600px){
  	#myCarousel{display: none;}

  

	