body{ font-family:  myriad Pro;
		background: #ffffff;}
#all{width:960px;
	height: 1875px;
	margin: 0 auto;
	border: 1px solid black;
	background: #ffffff;}
#header{width:960px;}
#header{height: 86px;}
.logo img{margin-left: 78px;
		margin-top: 8px; 
		float: left;}
.slogan{margin-left: 78px;}
.slogan p{font-size: 10pt;
			font-family: myriad Pro ;
			margin-left: 8px;}
.logomn{display: inline-flex;}			
.menutitle{display: inline-table;
			margin-left: 166px;}
.menutitle a{font-size: 9.86pt;}
.menutitle ul li{float: left;
					margin:12px;
					list-style: none;}
.menutitle ul li a{text-decoration: none;
					margin-left: 5px;
					color: #939393;}					
.slogan{display: inline-table;}			
.all1{display: inline-flex;}
.menu {margin-left: 140px;
		margin-top: -12px;}	 	
.menu ul li {float: left;
				list-style: none;
				padding:  5px 10px 5px 10px;
				border-radius: 5px;
				text-align: center;}	
.menu ul li a{
				text-decoration: none;
				font-family: myriad Pro;
				font-size: 8.88pt;
				color: #939393;
				font-weight: bold;}	
.menu ul li:first-child{background:#00a2ed; }

.menu ul li:hover{background: #00a2ed;}	
.menu ul li a:hover{color: #ffffff;}
.menu-icon{float:right;
			width: 10px;}
.menu-icon ul li{float: right;}			

.image img{position: relative;
			height: 299px;}	
.textin {position: absolute;
		top: 310px;
		right:260px;
		}	
.textin span{font-size: 22.86pt;
			color: #ffffff;
			left: 10px;}
.textin p{color: #ffffff;}
.textip {text-align: center;
	color: #838383;
	margin-top: -45px;

}
.textip p{font-size: 29.3pt;
			padding: 10px;
			height: 2px;}
.textip span{font-size: 10pt;
				}	
.anh{width: 960px;
	height: 328px;
	display: inline-flex;
	text-align: center;
	margin: 0 20px 0 20px;

}
.anh1{height: 33%;
	width: 300px;
float: left;}
.anh2{height: 33%;
	width: 300px;
	float: left;


}
.anh3{height: 33%;
	width: 300px;
	float: right;
}
			
.anh p{font-size: 14.86pt;
		font-weight: bold;
	color: #706972;}
.anh span{font-size: 11.86pt;
color: #7c767e;}
.but button{background: #00a2ed;
		color: #ffffff;
		border-radius: 5px;
		width: 115px;
		height: 25px;
		font-size: 9.86pt;}
hr{width: 300px;
	margin-top: -18px;
background: red;}	
.picture{width:960px;
		height: 110px; 
	display: inline-table;
	text-align: center;
	margin:40px 0 40px 0;
	}	
.pic1, .pic2, .pic3, .pic4, .pic5{width: 20%;
height: 110px;}	
.pic1, .pic2, .pic3, .pic4{float: left;}
.pic5{float: right;}
#footer{width: 960px;
		height: 400px;
		background: #323232;
		text-align: center;}
.about, .contact, .info{height: 400px;
						width:320px;}	
.about, .contact{float: left;}
.info{float: right;}
.about p, .contact p, .info p{margin-bottom: 27px;
							 color: #ffffff; 
							 font-size:14.86pt; }
.about span, .info span{color: #ffffff;
			font-size: 10.86pt;}
	
label{text-align: left;}		
.name2{display: inline-table;}	
.name1{display: inline-table;}
td span{color:red;}

							

																 		
							