.contact-item{
	padding: 10px 20px;
}



.header-logo a img{
	float: center ;
	 padding-top: 10px;
}

.bottom-right{
	position: absolute;
	 bottom: 15px;
	 right: 60px;
}

@media only screen and (min-width: 360px) and (max-width: 666px) {
.header-contact{
    display: none;
}
.banner{
    display: none;
}
.menu-icon{
  display: none;
}

/*.header2{
    display: none;
}*/
.bottom-right{
    display: none;
}

.dellresponsive{
    display: none;
}
.navbar-default .navbar-form {
border-color: none;
}

#narbar-list ul li a:hover {
     background: #00a2ed;
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
}

.navbar-header{
    background-color: #fff;
}


}