@media only screen and (min-width: 360px) and (max-width: 640px) {
    .header-contact{
        display: none;
    }
    .banner{
        display: none;
    }
    .menu-icon{
      display: none;
    }

    /*.header2{
        display: none;
    }*/
}



.content3 table tr th {
    text-transform: uppercase;
}

/*.imagescenter3 img {
    padding: 10px 32px;
}

.imagescenter2 img {
    padding: 30px 43px;
}
*/
/*.imagescenter3 table th {
    text-transform: capitalize;
}
*/

/*.imagescenter img {
    margin:  auto;
}
*/
/*.imagescenter1 tr {
    text-align:  center;
}*/

.textgiua {
    text-align: center;
    clear: both;
}

.textgiua p {
    text-transform: capitalize;
    font-weight: bold;
}

.textgiua h1 {
    text-transform: uppercase;
}

/*.imagescenter img {
    padding: 0px 102px;
}

*/
/*header ul li {
    display: inline-block;
}*/

/*header a{
    text-decoration: none;
}*/

/*.hd2 li {
    padding: 13px 23px;
    float: right;
}*/

/*.headerstyle a {
    padding: 0 8px;
}
*/

.footer {
    background-color: #323232;
    color: #fff;
    overflow: hidden;
}


/*style bootstrap*/
.style_ct{
    text-align: center;
}

.style_ct h5{
    text-transform: capitalize;
    font-weight: bold;
    color: #838383;
}

.style_ct p {
    height: 95px;
}

.style_ct a {
    color: #fff;
    text-decoration: none;
    background: #00a2ed;
    padding: 10px 10px;
    border-radius: 8px;
}

footer {
    margin: auto;
}

/*.headerstyle ul li a {
    text-decoration: none;
    font-weight: bold;
}
/**/
/*.hd2 ul li a {
    text-decoration: none;
    
}*/

/*.headerstyle ul {
    float: right;
}
*/
/*.hoverstyle a:hover {
    padding: 8px;
    background: #00a2ed;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
}*/



h1{
   
     color: #838383;
}



.textgiua hr{
    width: 312px;
    color: darkgray;
}


            /*responsive*/

.posts-content{
    padding-top: 30px;
}
.item{
    text-align: center;

}
.item-title{
    padding-top: 15px;
}
.item-text{
    font-size: 14px;
    padding-top: 10px;
    height: 90px;
    color: #838383;
    
}
.item-more{
    padding-top: 30px;
}
.item-more a{

    background: #00a2ed;
    padding: 10px 10px;
    color: #ffffff;
    border-radius: 9px;
}
.item-more a:hover{
    text-decoration: none;
}
.p4{
    font-weight: bold;
    font-size: 27px;
    width: 320px;
    margin: auto;
    text-align: center;
    padding: 6px 0;
    color: #838383;
}
.textcenter{
    font-weight: bold;
    border-top: 1px solid #838383;
    font-size: 27px;
    width: 320px;
    margin: auto;
    text-align: center;
    padding: 6px 0;
    color: #838383;
}
.description{
    text-align: center;
padding-top: 50px;
}

