*{
	padding: 0px;
	margin: 0px;
}

.all{
	height: 1790px;
	width: 960px;
	margin: auto;
}
.top{
	height: 84px;
	width: 960px;
	margin: auto;
}
.logo{
	float: left;
	margin-left: 77px;
	margin-top: 9px;
}
.address{
	width: 540px;
	height: 14px;
	float:right;
	margin-top: 20px;
	margin-right: 19px;
	
}
.skype{
	float: left;
	width: 30%;
}
.gmail{
	float: left;
	width: 38%;
}
.hotline{
	float: left;
	width: 30%;
}
.menu{
	float: left;
	padding-top: 7px; 
}
.menu ul li{
	display: inline;
	text-align: center;
	list-style: none; 
	padding: 0px 6px;
}
.menu ul li a{
	text-decoration: none;
	color: #868686;
}
.menu ul li a:hover{
	background: #00a2ed;
	border-radius: 13px;
	color: #FFFFFF;
	padding: 5px;
}
	
.icon {
	float: right;
	text-decoration: none;
}
.icon a{
	padding: 0px 6px;
}
.banner{
	background-image: url(images/banner.jpg);
	width: 960px;
	height: 299px;
	position: relative;
}
.img{
	width: 19%;
	float: left;
	padding-top: 10px;
}
