*{
	padding: 0px;
	margin: 0px;
}

.all{
	height: 1790px;
	width: 960px;
	margin: auto;
}
.top{
	height: 84px;
	width: 960px;
}
.logo{
	float: left;
	margin-left: 77px;
	margin-top: 9px;
}
.address{
	height: 14px;
	width: 424px;
	float:right;
	margin-top: 20px;
	margin-right: 19px;
}
.menu{
	width: 435px;
	height: 25px;
	margin-top: 50px;
	margin-right: 148px;
	float: right;
}
.menu ul li{
	display: inline block;
	width: 62px;
	text-align: center;
	list-style: none;
}
.menu ul li a{
	text-decoration: none;
}
.icon {
	width: 146px;
	float: right;
	margin-right: 0px;
	margin-top: 52px;
}
.banner{
	background-image: url(images/banner.jpg);
	width: 960px;
	height: 299px;
}