body{background:#dadcdc;
	font-family: arial,helvetica ;}
#all{width: 1050px;
		height: 1400px;
		
		margin: 20px auto;	}

#header{color:red;
			height: 200px;
			
			background: #ffffff; }
	#header img{margin: 50px 0 41px 26px;}	
#header, #content .gt, .slideshow, .tt, #footer{width: 1050px;}			
.gt{height: 51px;
	
	background: #383838;}
.gt ul {}

.gt ul li:first-child{background: #f15a23;
						margin-right: 15px;}
.gt ul li {width: 76px;
			height: 41px;

			list-style: none;
            float: left;
            padding-right: 5px;
        	border-right: 1px solid black;
        	text-align: center;
        	padding-top: 10px;}
.gt ul li a{text-decoration: none;
				font-size:15px;
				color: #ffffff;
				text-align: center;

				 } 
.gt ul li:hover{background: #f15a23;}				           
input{margin-left:  800px;
		margin-bottom:100px; }

.slideshow{height: 402px;
			background: #397aa9;}
.tt{height: 502px;
	background: #fff;}
#footer{height: 246px;
			background: #2d2d2d;}				