body{
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
}


.left{
	float: left;
}

.right{
	float: right;
}

header ul li {
	display: inline-block;
}

header a{
	text-decoration: none;
}

header {

	height: 385px;
	width: 960px;
	margin: auto;

}

.content {
	width: 960px;
	height: 1010px;
	margin: auto;
}

.header1{
	height: 85px;
}

.header2_text{
	position: absolute;
    right: 0;
    width: 480px;
    bottom: 0;
    color: #fff;
    margin: 0 20px 20px 0;
}

.header2 {
   background: url("image/bgto.jpg");
   
    height:  298px;
}

.header2_text1 {
    font-weight:  bold;
    font-size: 23px;
    text-transform: uppercase;
    margin-bottom:  20px;
}

.header2_text2{
	height: 60px;
    line-height: 30px;
    text-align: justify;
    font-size: 18px;
}

